/* main color palette */
:root{
  --vp-c-brand: #687dca;
  --vp-c-brand-light: #7289da;
  --vp-c-brand-lighter: #9aabe7;
  --vp-c-brand-dark: #687dca; 
  --vp-c-brand-darker: #415497;
}

/* Main page gradient*/
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #687dca 30%, #627ad3);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #687dca 50%, #627ad3 50%);
  --vp-home-hero-image-filter: blur(72px);
}

/* color theme */
:root{
  --vp-c-bg: #f8f6f6;
  --vp-c-bg-alt: #f0f0f0;
}
.dark {
  --vp-c-bg: #1a1a1b;
  --vp-c-bg-alt: #1b1b1d; 
  --vp-c-bg-elv-mute: #17171a;
  --vp-c-bg-elv-up: #17171a;
  --vp-c-mute: #2c2c30;
}

/* override badges colors */
:root {
  --vp-badge-info-border: #303030;
  --vp-badge-info-text: #303030;
  --vp-badge-info-bg: #3030300a;

  --vp-badge-tip-border: #687dca;
  --vp-badge-tip-text: #687dca;
  --vp-badge-tip-bg: #5865f20a;
}

.dark {
  --vp-badge-tip-border: #687dca;
  --vp-badge-tip-text: #687dca;

  --vp-badge-info-border: #d6ece7;
  --vp-badge-info-text: #d6ece7;
  --vp-badge-info-bg: #d6ece705;
}

/* override custom blocks*/
:root {
--vp-custom-block-tip-border: #687dca;
--vp-custom-block-tip-text: #687dca;
--vp-custom-block-tip-bg: #43619b10;

--vp-custom-block-details-bg: #ffffff34;

--vp-custom-block-info-bg: #a5a5a50a;

--vp-custom-block-warning-bg: #e4784609;

--vp-custom-block-danger-bg: #99252507;
}
.dark {
  --vp-custom-block-details-bg: #1f1f1f34;
}
